$white: #ffffff;
$cosmo-pink: #ec008c;

.button-discussion {

  .button-discussion__btn {
    font-weight: bold;
    text-transform: uppercase;
    height: 40px;
    width: 100%;
    background-color: $cosmo-pink;
    color: $white;
    font-size: 15px;
    transition: all 0.15s linear 0s;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;

    &:hover {
      opacity: 0.85;
    }

  }
}
