$indentDefault: 20px;
$cottonCandy: #FFBFD4;
$error: #FFE600;

@mixin indentInside($topAndBottom:0, $side: 0) {
  padding: $topAndBottom $side;
}

@mixin indentOutsideUpAndDown($top:0, $bottom:0) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin font($size, $weight, $lineHeight) {
  font: {
    family: 'Open Sans', sans-serif;
    size: $size;
    weight: $weight;
    style: normal;
  }
  line-height: $lineHeight;
}

%subscription-form {
  width: 100%;

  .subscription-form__data {
    $height: 43px;
    position: relative;

    @include customScreen(650px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .error {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 164px;
      height: 29px;
      top: -20px;
      left: 10px;
      bottom: 0;
      right: 0;
      background-color: $black;
      color: $white;

      @include customScreen(650px) {
        top: 6px;
        left: -152px;
      }
    }

    input {
      @include indentOutsideUpAndDown($bottom: 10px);
      @include indentInside($indentDefault/2, 15px);
      @include font(14px, 400, 20px);
      width: 100%;
      height: $height;
      background-color: $white;
      border: 1px solid $grey;
      color: $grey;

      &[validation="error"] {
        border: 4px solid $error;
      }

      &::placeholder {
        color: $grey;
      }

      @include customScreen(650px) {
        @include indentOutsideUpAndDown();
        width: 170px;
        margin-right: 10px;
      }

      @include sm {
        width: 200px;
      }

      @include md {
        width: 190px;
      }
      @include lg {
        width: 250px;
      }


    }

    button {
      @include font(15px, bold, 20px);
      width: 100%;
      height: $height;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      background-color: $illusion;
      color: $white;

      @include customScreen(650px) {
        width: 150px;
      }
      @include sm {
        width: 160px;
      }

      @include md {
        width: 150px;
      }

      @include lg {
        width: 160px;
      }

      &:hover {
        background-color: $cottonCandy;
      }
    }

  }

  .subscription-form__agreement {
    @include indentOutsideUpAndDown($top: 18px);
    width: 100%;
    text-align: center;

    @include customScreen(650px) {
      @include indentOutsideUpAndDown($top: 18px, $bottom: 20px);
    }

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }

    label {
      @extend %title-default;
      font-size: 11px;
      line-height: 14px;
      color: $black;

      a {
        color: $black;
      }

      position: relative;
      cursor: pointer;

      &::after,
      &::before {
        content: '';
        border: solid $grey;
      }

      &::after {
        display: none;
        position: absolute;
        top: -2px;
        left: 8px;
        width: 6px;
        height: 14px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }

      &[type="active"] {
        &::after {
          display: block;
        }
      }

      &[validation="error"] {
        &::before {
          border: 4px solid $error;
          padding: 10px - 2;
        }
      }

      &::before {
        background-color: transparent;
        border-width: 2px;
        padding: 10px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
      }
    }
  }
}

.subscription-form {
  @extend %subscription-form;
  display: none;

  @include customScreen(650px) {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}

.subscription-form--mobile {
  @extend %subscription-form;

  @include customScreen(650px) {
    display: none;
  }
}
