@mixin indentQuoteText($indent) {
  padding-left: $indent;
  padding-right: $indent;
}

.author-quote {
  margin: 25px 0 31px;
  text-align: center;
  width: 100%;

  @include xs {
    margin: 22px 0;
  }

  p {
    @extend %title-default;
    display: block;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;

    @include xs {
      @include indentQuoteText(20px);
    }
    @include sm {
      @include indentQuoteText(70px);
    }
    @include md {
      @include indentQuoteText(40px);
    }
    @include lg {
      @include indentQuoteText(120px);
    }
  }

  img {
    @include authorImg(40px);
    margin-bottom: 5px;
  }

  span {
    @extend %description-default;
    display: block;
    color: $default-black;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }
}
