ol {
  counter-reset: myCounter;
  padding-bottom: 10px;

  li {
    @extend %eb_garamond;
    font-weight: 600;
    font-size: 19px;
    line-height: 25px;
    color: $default-black;
    position: relative;
    list-style: none;
    margin-left: 26px;
    margin-bottom: 20px;

    &:first-child::before {
      left: -23px;
    }

    &::before {
      position: absolute;
      display: inline-block;
      left: -26px;
      top: 2px;
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      color: $red;
      font-size: 20px;
      line-height: 23px;
      @extend %tenor_sans;
    }
  }
}

ul {
  list-style: none;
  margin-left: 26px;

  li {
    @extend %eb_garamond;
    color: $default-black;
    font-style: normal;
    font-weight: 600;
    @include fontParams(19px, 25px);
    position: relative;
    margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: -26px;
      width: 12px;
      height: 12px;
      background: $illusion;
      transform: rotate(45deg);
    }
  }
}
