$borderColor: rgba(255, 191, 212, 0.5);
$indentDefault: 20px;

@mixin indentInsideNoteText($indent) {
  padding-left: $indent;
  padding-right: $indent;
}

@mixin indentOutsideNoteText($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.article-note {
  width: 100%;
  @include indentOutsideNoteText(30px, 30px);

  @include xs {
    @include indentInsideNoteText($indentDefault);
  }
  @include sm {
    @include indentOutsideNoteText(25px, 35px);
  }
  @include md {
    @include indentOutsideNoteText(23px, 23px);
  }
  @include lg {
    @include indentOutsideNoteText(32px, 32px);
  }

  p {
    @extend %title-default;
    @include indentInsideNoteText($indentDefault);
    font-size: 18px;
    line-height: 27px;
    border-left: 12px solid $borderColor;
  }
}
