$black: rgb(48, 48, 48);
$grey-text: #aaa;
$cosmo-pink: #ec008c;

$bg: #FFECE6;

.author-in-article {
  width: 100%;
  background-color: $bg;
  margin: 32px 0 18px;

  .author-in-article__cnt {
    min-height: 90px;
    padding: 10px 0;
    width: 282px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-decoration: none;

    .picture {
      @include authorImg(60px);

      @include xs {
        @include authorImg(70px);
      }
    }

    .author-info {
      margin-left: 15px;
    }

    span {
      display: block;
      text-decoration: none;
      margin-top: 6px;

      font-family: 'Tenor Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      color: $black;

      &[field="name"] {
        font-size: 17px;

        @media only screen and (min-width: 340px) {
          font-size: 18px;
        }
      }

      &[field="description"] {
        font-size: 12px;
        line-height: 15px;

        a {
          color: inherit;
          font-size: inherit;
          line-height: inherit;

          &:hover {
            cursor: pointer;

            img {
              opacity: 0.8;
              transition: all 0.15s linear 0s;
            }

            span {
              transition: all 0.15s linear 0s;
              color: $cosmo-pink;
            }
          }
        }
      }
    }
  }
}
