@mixin xs{
  @media only screen and (min-width: 576px) {
    @content;
  }
}
@mixin sm{
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin md{
  @media only screen and (min-width: 992px) {
    @content;
  }
}
@mixin lg{
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin customScreen($width){
  @media only screen and (min-width: $width) {
    @content;
  }
}
