$pink: #f796b7;
$red: #FF508B;
$grey: #8b8b8b;
$white: #ffffff;
$fontOpenSans: OpenSans, sans-serif;
$fontTenorSans: 'Tenor Sans', sans-serif;
//@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap&subset=cyrillic');

.content {
  width: 100%;
  margin: 0 auto;
  padding: 20px 12px;

  @media only screen and (min-width: 320px) {
    //width: 600px;
  }
}

.comments {
  width: 100%;
  margin: 30px auto;

  .comments__info {
    display: block;
    justify-content: center;
    align-items: center;
    font-family: 'Comfort Garamond', serif;
    color: $grey;
    margin-bottom: 26px;

    .comments__info__title {
      font-size: 22px;
      font-family: $fontTenorSans;
      color: #303030;

      @media only screen and (min-width: 320px) {
        font-size: 32px;
      }

      @media only screen and (min-width: 1024px) {
        font-size: 36px;
      }

      svg {
        width: 21.67px;
        height: 20px;
        margin-bottom: 0;
        margin-left: 3px;

        @media only screen and (min-width: 320px) {
          width: 27.44px;
          height: 26px;
          margin-left: 6px;
        }
      }
    }
  }

  .comments__info__form__textarea {
    border: 1px solid $grey;
    display: block;
    width: 100%;
    height: 137px;
    font-size: 18px;
    font-family: 'Comfort Garamond', serif;
    color: #000000;
    justify-content: center;
    margin-top: 6px;

    @media only screen and (min-width: 320px) {
      height: 157px;
      margin-top: 7px;
    }
  }

  .send-button {
    width: 260px;
    height: 43px;
    background-color: #303030;
    font-size: 15px;
    color: $white;
    font-family: $fontOpenSans;
    border: none;
    padding-left: 84px;
    padding-right: 83px;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    margin: 20px auto 0;

    &:hover {
      opacity: 0.8;
    }

    @media only screen and (min-width: 320px) {
      width: 160px;
      height: 43px;
      padding-left: 34px;
      padding-right: 33px;
      margin-top: 20px;
      margin-left: 0;
    }
  }

  .comment {
    width: 100%;
    margin-bottom: 17px;
    border-bottom: 1px solid #e8e8e8;

    @media only screen and (min-width: 320px) {
      margin-bottom: 21px;
    }

    &[type="reply"] {
      padding: 16px 20px 20px;
      float: right;
      background-color: #F9F9F9;
      border: none;

      @media only screen and (min-width: 320px) {
        width: calc(100% - 50px);
      }
    }

    .comment__header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 13px;
      width: 100%;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 9px;
        object-fit: cover;

        @media only screen and (min-width: 320px) {
          height: 40px;
          width: 40px;
          margin-right: 19px;
        }
      }

      .comment__user {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media only screen and (min-width: 320px) {
          flex-direction: row;
          justify-content: space-between;
        }

        span {
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 300;
          font-family: $fontOpenSans;

          &:first-child {
            color: $red;
          }

          &:last-child {
            color: $grey;
          }
        }
      }
    }

    .comment__body {
      font-family: 'Cormorant Garamond', serif;
      font-size: 18px;
      line-height: 26px;
      color: #000000;
      width: 100%;

      .comment__body__answer {
        margin-top: 20px;
        margin-bottom: 12px;
        background-color: #FFFFFF;
        border-left: 2px solid $pink;
        height: 69px;
        color: $grey;
        padding: 6px 18px 12px;

        span {
          font-family: Open Sans, sans-serif;
          font-weight: bold;
          font-size: 12px;
          line-height: 32px;
          text-transform: uppercase;

        }

        p {
          font-family: 'Cormorant Garamond', serif;
          font-size: 17px;
          line-height: 24px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }

    .comment__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 12px;
      padding-bottom: 19px;
      width: 100%;
    }

    .comment__admin {
      font-family: OpenSans, sans-serif;
      font-size: 12px;
      line-height: 32px;
      text-transform: uppercase;
      color: $grey;
      font-weight: 300;
      position: relative;


      .comment__admin__event {
        position: absolute;
        top: 4px;
        right: -20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 13px;
        padding-bottom: 8px;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      .comment__admin__modal {
        position: absolute;
        width: 95px;
        height: 80px;
        right: -61px;
        top: 30px;
        background: $white;
        border: 1px solid #E8E8E8;

        &::before {
          position: absolute;
          content: '';
          top: -6px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 10px;
          height: 10px;
          background: $white;
          border-left: 1px solid $white;
          border-top: 1px solid #E8E8E8;
          transform: rotate(45deg);
        }

        span {
          display: block;
          font-family: OpenSans, sans-serif;
          font-size: 12px;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase;
          margin-top: 10px;
          color: $grey;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }

    .comment__actions {
      display: flex;
      //margin-top: 12px;

      .reply,
      .like {
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      .reply {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 1px solid $pink;
        margin-right: 20px;

        &:hover {
          border: 1px solid $red;

          .icon {
            fill: $red;
          }
        }

        .icon {
          margin-top: -2px;
          fill: $pink;
          width: 18px;
          height: 15px;
        }
      }

      .like {
        height: 35px;
        width: 35px;
        border-radius: 25px;
        border: 1px solid $pink;

        &:hover {
          border: 1px solid $red;

          .icon {
            fill: $red;
          }
        }

        .icon {
          fill: $pink;
          width: 18px;
          height: 15px;
          //min-width: 35px;
          //max-width: 56px;
          border-radius: 25px;
        }
      }

      .like_active {
        @extend .like;
        width: auto;
        border: 1px solid $red;
        padding: 0 10px;
        color: $red;

        .icon {
          fill: $red;
          margin-right: 8px;
        }
      }
    }
  }
}


//@media only screen and (min-width: 320px) {}
//@media only screen and (min-width: 650px) {}
//@media only screen and (min-width: 768px) {}
//@media only screen and (min-width: 1024px) {}