$cosmo-pink: #ec008c;
$white: #ffffff;
$muted-white: #cccccc;

.sidebar-menu {
  padding: 24px 0;

  &[line="bottom"] {
    border-bottom: 1px solid rgba($white, 0.2);
  }

  .sidebar-menu__list {
    list-style: none;

  }

  .sidebar-menu__list__item {
    color: $muted-white;
    padding: 0 0 5px;
    font-size: 15px;
    text-decoration: underline;
    transition: all 0.15s linear 0s;

    &[transform-text="uppercase"] {
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
      padding: 9px 0;
      font-size: 19px;

      &:hover {
        color: $cosmo-pink;
        opacity: 1;
      }
    }

    &:hover {
      color: $muted-white;
      cursor: pointer;
      opacity: 0.8;
    }
  }

}
