$default-black: #303030;
$black: #000000;
$white: #ffffff;
$grey: #8B8B8B;
$illusion: #F796B7;

$default-black: #303030;
$black: #000000;
$white: #ffffff;
$grey: #8b8b8b;
$illusion: #f796b7;
$red: #ff508b;
$cottonCandy: #ffbfd4;
$wildStrawberry: #ff3b7e;
$scorpion: #595959;
$expert: #565656;
$fairPink: #fff0ec;
$alto: #dadada;
$text-muted: #999999;
$peach_schnapps: #ffe1d8;
$radical_red: #ff1f6b;
$sunset_orange: #ff4c49;
$placeholder_img: #c4c4c4;
$fair-pink: #ffece6;
$fb: #1877F2;
$vk: #4680C2;
$ok: #EE8208;

$footer-bg-color: $fair-pink;


$white: #ffffff;
$cosmo-pink: #ec008c;
$text-muted: #999999;
$muted-black: #303030;

$red: #ff508b;
