@mixin fontParams($size, $height) {
  font-size: $size;
  line-height: $height;
}

@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i,700,700i&display=swap&subset=cyrillic,cyrillic-ext');

%tenor_sans {
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

%eb_garamond {
  font-family: 'EB Garamond', serif;
}

%open_sans {
  font-family: "OpenSans", sans-serif;
}
