@import url('https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700i&display=swap&subset=cyrillic');

%title-default {
  font-family: 'Tenor Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}
%description-default {
  font-family: 'Cormorant Garamond', serif;
}
