.header {
  width: 100%;
  height: 100%;

  .header__cnt_home {
    background: url('/images/flowers.png') center no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url('/icons/logo-cosmo.svg') center no-repeat;
      background-size: auto 80px;
      filter: brightness(200);
    }
  }
}
