$fb: #1877F2;
$vk: #4680C2;
$twitter: rgb(64, 181, 232);
$instagram: linear-gradient(rgb(131, 2, 169) 0%, rgb(213, 107, 229) 50%, rgb(245, 130, 32) 100%);
$ok: #EE8208;
$feedly: #2BB24C;
$link: #303030;
$white: #ffffff;

.social-network {
  display: block;
  background: blue;
  transition: opacity 0.15s linear 0s;
  width: 25%;
  height: 50px;

  @media only screen and (min-width: 651px) {
    border-radius: 2px;
    width: 48px;
    height: 58px;
  }

  @media only screen and (min-width: 769px) {
    width: 40px;
    height: 50px;
    margin-bottom: 10px;
  }

  @media only screen and (min-width: 1025px) {
    width: 48px;
    height: 58px;
  }

  .social-network__cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .icon {
      width: 20px;
      height: 20px;
    }

    @media only screen and (min-width: 651px) {
      display: block;
    }
  }

  span {
    display: none;

    @media only screen and (min-width: 651px) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      color: $white;
      height: 19px;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }

}

[social-network='fb'] {
  @extend .social-network;
  background: $fb;

  .social-network__cnt {

    .icon {

      @media only screen and (min-width: 651px) {
        height: 20px;
      }

      @media only screen and (min-width: 769px) {
        height: 16px;
        margin-top: 8px;
      }

      @media only screen and (min-width: 1025px) {
        margin-top: 12px;
      }
    }
  }
}

[social-network='vk'] {
  @extend .social-network;
  background: $vk;

  .icon {

    @media only screen and (min-width: 651px) {
      height: 13.5px;
    }

    @media only screen and (min-width: 769px) {
      height: 14px;
      margin-top: 9px;
    }

    @media only screen and (min-width: 1025px) {
      margin-top: 13px;
    }
  }
}

[social-network='twitter'] {
  @extend .social-network;
  background: $twitter;
}

[social-network='ok'] {
  @extend .social-network;
  background: $ok;

  .icon {

    @media only screen and (min-width: 651px) {
      height: 10px;
    }

    @media only screen and (min-width: 769px) {
      height: 18px;
      margin-top: 7px;
    }

    @media only screen and (min-width: 1025px) {
      margin-top: 11px;
    }
  }
}

[social-network='instagram'] {
  @extend .social-network;
  background: $instagram;
}

[social-network='link'] {
  @extend .social-network;
  background: $link;

  .icon {


    @media only screen and (min-width: 651px) {
      height: 20px;
    }

    @media only screen and (min-width: 769px) {
      height: 19px;
      margin-top: 6px;
    }

    @media only screen and (min-width: 1025px) {
      height: 20px;
      margin-top: 8px;
    }
  }
}

[social-network='feedly'] {
  @extend .social-network;
  background: $feedly;

  .icon {
    height: 32px;
  }
}

.social-networks {
  //position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  //margin: 0 auto;
  overflow: hidden;

  .social-networks__list {
    width: 100%;
    display: flex;
    list-style: none;

    @media only screen and (min-width: 651px) {
      display: block;
    }
  }
}
