.cnt__top {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    @extend %open_sans;
    @include fontParams(11px, 13px);
    color: $grey;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
}

.cnt__info {
  margin-top: 20px;
}

.article {
}

.article__title {
  @extend %tenor_sans;
  @include fontParams(32px, 37px);
}

.article__description {
  @extend %tenor_sans;
  @include fontParams(18px, 26px);
}

.article__author {
  margin: 20px 0;
  display: flex;

  &__photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__info {
    @extend %tenor_sans;
    @include fontParams(11px, 13px);
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
      flex: 0 0 auto;
      display: block;

      &:nth-child(2) {
        margin-top: 4px;
      }
    }
  }
}
