.article-product {
  width: 100%;

  img {
    //border: 1px solid #E0E0E0;
    background-color: transparent;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    min-height: 100px;
  }

  .article-product__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid $illusion;
    margin: 20px auto;
  }

  span {
    display: inline-flex;
    font-family: 'Tenor Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    max-width: calc(100% - 160px);
    padding-left: 10px;

    @include xs {
      font-size: 18px;
      line-height: 24px;
      padding-left: 16px;
    }
  }

  a {
    width: 100px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    background-color: $red;
    text-decoration: none;
    color: $white;

    &:hover {
      opacity: 0.8;
    }

    @include xs {
      width: 160px;
      height: 43px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}
