$grey: #aaa;
$cosmo-pink: #ec008c;

.button-like {
  font-weight: bold;
  text-transform: uppercase;
  height: 40px;
  width: 100%;
  border: 2px solid $grey;
  color: $grey;
  font-size: 15px;
  transition: all 0.15s linear 0s;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  justify-content: center;

  .icon,
  .likes {
    position: absolute;
  }

  .icon {
    fill: $grey;
    height: 18px;
    width: 18px;
    transition: all 0.15s linear 0s;
    left: 13px;
  }

  .likes {
    right: 13px;
  }

  &:hover {
    border-color: $cosmo-pink;
    color: $cosmo-pink;

    .icon {
      fill: $cosmo-pink;
    }
  }

}
