$skeletonHsl: hsl(0, 0%, 89%);
$skeletonBg: rgba(0, 0, 0, 0.1);

.post-skeleton {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;

  &__thumbnail {
    position: relative;
    width: 100%;

    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 61.25%;
      background-color: $skeletonBg;
    }
  }

  &__details {
    display: flex;
  }

  &__title {
    width: 90%;
    height: 20px;
    margin: 8px 0;
    border-radius: 2px;
    background-color: $skeletonHsl;
  }

  &__desc {
    width: 130px;
    height: 20px;
    margin: 10px 0;
    background-color: $skeletonHsl;
  }

  &__avatar {
    background-color: $skeletonHsl;
    height: 36px;
    width: 25px;
    margin-right: 10px;
    margin-top: 8px;
  }
}




$flushOrange: #FB8700;

@mixin readMoreImg($marginRight, $width, $height) {
  min-width: $width;
  width: $width;
  margin-right: $marginRight;
  height: $height;
}

.read-more {

  margin: 23px 0 32px;
  text-decoration: none;

  display: flex;
  width: 100%;
  border-top: 1px solid $illusion;
  border-bottom: 1px solid $illusion;
  padding: 10px 0;
  overflow: hidden;

  .picture {
    object-fit: cover;

    @include readMoreImg(10px, 130px, 105px);

    @include xs {
      @include readMoreImg(20px, 241px, 160px);
    }

    @include md {
      @include readMoreImg(10px, 214px, 142px);
    }

    @include lg {
      @include readMoreImg(20px, 241px, 160px);
    }
  }

  .read-more__text {
    position: relative;

    h3 {
      @extend %tenor_sans;
      color: $flushOrange;
      max-height: 120px;
      overflow: hidden;

      @include fontParams(14px, 18px);

      @include xs {
        @include fontParams(25px, 30px);
      }

      @include xsm {
        @include fontParams(22px, 30px);
      }

      @include sm {
        @include fontParams(25px, 30px);
        padding-right: 20px;
      }

      @include md {
        @include fontParams(25px, 30px);
        padding-right: 0;
      }
    }

    span {
      @extend %eb_garamond;
      @include fontParams(14px, inherit);

      min-width: 142px;
      display: inline-block;
      margin-top: 3px;
      color: $illusion;
      font-style: italic;
      letter-spacing: -0.5px;
      text-decoration: underline;
      position: absolute;
      bottom: 0;
      font-weight: 400;

      @include xs {
        @include fontParams(20px, 24px);
      }

      @include md {
        @include fontParams(18px, 24px);
      }

      &::before {
        content: "";
        position: absolute;
        top: 3px;
        right: -18px;
        height: 13px;
        width: 25px;
        //background: url("/icons/arrow.svg") no-repeat center;

        @include xs {
          top: 7px;
        }

        @include screen(375px) {
          right: -36px;
        }
      }
    }
  }
}
