$muted-black: #303030;
$pink: #F796B7;
$cosmo-pink: #ec008c;
$white: #ffffff;

$heightNavbar: 57px;

.burger {
  display: flex;
  align-items: center;

  .icon {
    width: 22px;
    height: 20px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  background: $white;
  border-color: $pink;
  border-top: 1px solid;
  border-bottom: 1px solid;

  .navbar__cnt {
    height: $heightNavbar;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .navbar__cnt__side {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    width: 130px;
    height: 24px;
    margin: 0 16px;
    transition: opacity 0.15s linear 0s;

    @include xs {
      height: 30px;
      width: 164px;
    }

    @include md {
      height: 24px;
      width: 130px;
    }
    @include lg {
      margin: 0 20px;
    }

    &:hover {
      opacity: 0.8;
    }

    svg {
      height: inherit;
      width: inherit;
    }
  }

  .navbar__menu {
    display: none;

    @include md {
      display: flex;
      align-items: center;
      list-style: none;
    }
  }

  .navbar__menu__item {
    text-transform: lowercase;
    color: $muted-black;
    margin-right: 14px;
    font-size: 17px;
    transition: color 0.15s linear 0s;

    &:nth-child(1),
    &:nth-child(2) {
      display: none;
    }

    @include lg {
      &:nth-child(1),
      &:nth-child(2) {
        display: block;
      }
    }

    &:last-child {
      margin-right: 0;

      .icon {
        width: 28px;
        height: 28px;
      }
    }

    &:hover {
      cursor: pointer;
      color: $cosmo-pink;
    }
  }

  .navbar__ad-button {
    display: none;
    height: 55px;
    width: 155px;
    margin-right: 30px;

    @include sm {
      display: flex;
    }

    img {
      height: inherit;
      width: 60px;
      object-fit: cover;
    }

    span {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      font-family: 'Cormorant Garamond', sans-serif;
      height: inherit;
      overflow: hidden;
      background-color: $default-black;
      color: $white;
      text-transform: uppercase;
    }
  }

  %navbar__button {
    margin-right: 15px;

    @include xs {
      margin-right: 30px;
    }

    svg {
      height: inherit;
      width: inherit;
      fill: $default-black;
      transition: fill 0.15s linear 0s;
    }

    &:hover svg {
      fill: $cosmo-pink;
    }
  }

  .navbar__search {
    @extend %navbar__button;
    height: 24px;
    width: 25px;

  }

  .navbar__wish-list {
    @extend %navbar__button;
    height: 23px;
    width: 20px;

  }

  .navbar__login {
    @extend %navbar__button;
    margin-right: 0;
    height: 28px;
    width: 28px;

  }
}
